HOST=localhost
PORT=3000

PGUSER=postgres
PGPASSWORD=yourpassword
PGDATABASE=openjob
PGHOST=localhost
PGPORT=5432

DATABASE_URL=postgres://postgres:yourpassword@localhost:5432/openjob

ACCESS_TOKEN_KEY=your_super_secret_access_token_key_min_32_chars
REFRESH_TOKEN_KEY=your_super_secret_refresh_token_key_min_32_chars
